SLS.Desktop/Service References/SLSDesktopServiceProxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLSDesktopService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISLSDesktopService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SLS.WCFService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLSDesktopService_GetBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_GetBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_GetBook_BookNotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SLS.WCFService" name="detail" element="q1:BookNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_GetDueBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDueBooks" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_GetDueBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDueBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_AddAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthor" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_AddAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_AddAuthor_EntityCouldNotBeAddedFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SLS.WCFService" name="detail" element="q2:EntityCouldNotBeAdded" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_AddBook_EntityCouldNotBeAddedFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/SLS.WCFService" name="detail" element="q3:EntityCouldNotBeAdded" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_SendPushNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPushNotification" />
  </wsdl:message>
  <wsdl:message name="ISLSDesktopService_SendPushNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPushNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLSDesktopService">
    <wsdl:operation name="GetBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSDesktopService/GetBook" message="tns:ISLSDesktopService_GetBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSDesktopService/GetBookResponse" message="tns:ISLSDesktopService_GetBook_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISLSDesktopService/GetBookBookNotFoundFaultFault" name="BookNotFoundFaultFault" message="tns:ISLSDesktopService_GetBook_BookNotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSDesktopService/GetAllBooks" message="tns:ISLSDesktopService_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSDesktopService/GetAllBooksResponse" message="tns:ISLSDesktopService_GetAllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDueBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSDesktopService/GetDueBooks" message="tns:ISLSDesktopService_GetDueBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSDesktopService/GetDueBooksResponse" message="tns:ISLSDesktopService_GetDueBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSDesktopService/AddAuthor" message="tns:ISLSDesktopService_AddAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSDesktopService/AddAuthorResponse" message="tns:ISLSDesktopService_AddAuthor_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISLSDesktopService/AddAuthorEntityCouldNotBeAddedFault" name="EntityCouldNotBeAddedFault" message="tns:ISLSDesktopService_AddAuthor_EntityCouldNotBeAddedFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSDesktopService/AddBook" message="tns:ISLSDesktopService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSDesktopService/AddBookResponse" message="tns:ISLSDesktopService_AddBook_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISLSDesktopService/AddBookEntityCouldNotBeAddedFault" name="EntityCouldNotBeAddedFault" message="tns:ISLSDesktopService_AddBook_EntityCouldNotBeAddedFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPushNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSDesktopService/SendPushNotification" message="tns:ISLSDesktopService_SendPushNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSDesktopService/SendPushNotificationResponse" message="tns:ISLSDesktopService_SendPushNotification_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISLSDesktopService" type="tns:ISLSDesktopService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISLSDesktopService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetBook">
      <soap12:operation soapAction="http://tempuri.org/ISLSDesktopService/GetBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BookNotFoundFaultFault">
        <soap12:fault use="literal" name="BookNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap12:operation soapAction="http://tempuri.org/ISLSDesktopService/GetAllBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDueBooks">
      <soap12:operation soapAction="http://tempuri.org/ISLSDesktopService/GetDueBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthor">
      <soap12:operation soapAction="http://tempuri.org/ISLSDesktopService/AddAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityCouldNotBeAddedFault">
        <soap12:fault use="literal" name="EntityCouldNotBeAddedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap12:operation soapAction="http://tempuri.org/ISLSDesktopService/AddBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityCouldNotBeAddedFault">
        <soap12:fault use="literal" name="EntityCouldNotBeAddedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendPushNotification">
      <soap12:operation soapAction="http://tempuri.org/ISLSDesktopService/SendPushNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLSDesktopService">
    <wsdl:port name="NetTcpBinding_ISLSDesktopService" binding="tns:NetTcpBinding_ISLSDesktopService">
      <soap12:address location="net.tcp://localhost:4567/SLS" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4567/SLS</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>PAWEL\PC</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>